@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
	margin: 0px;
	border: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

:root {
	/* ===== Colors ===== */
	--body-color: #e4e9f7;
	--sidebar-color: #ddd;
	--primary-color: #695cfe;
	--primary-color-light: #f6f5ff;
	--toggle-color: #fff;
	--text-color: #707070;

	/* ====== Transition ====== */
	--tran-03: all 0.2s ease;
	--tran-03: all 0.3s ease;
	--tran-04: all 0.3s ease;
	--tran-05: all 0.3s ease;
}

body {
	margin: 0;
	padding: 0;
	/* background: #000000; */
	/* background-image: url('C:/Users/Viswanath Bodapati/Desktop/CodeClause/Unit Converter T1/Assets/Neon-bg.jpg'); */
}

body {
	min-height: 100vh;
	background-color: var(--body-color);
	transition: var(--tran-05);
}

::selection {
	background-color: var(--primary-color);
	color: #fff;
}

body.dark {
	--body-color: #18191a;
	--sidebar-color: #242526;
	--primary-color: #3a3b3c;
	--primary-color-light: #3a3b3c;
	--toggle-color: #fff;
	--text-color: #ccc;
}

.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 250px;
	padding: 10px 14px;
	background: var(--sidebar-color);
	transition: var(--tran-05);
	z-index: 100;
}
.sidebar.close {
	width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li {
	height: 50px;
	list-style: none;
	display: flex;
	align-items: center;
	margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon {
	min-width: 60px;
	border-radius: 6px;
}

.sidebar .icon {
	min-width: 60px;
	border-radius: 6px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
	color: var(--text-color);
	transition: var(--tran-03);
}

.sidebar .text {
	font-size: 17px;
	font-weight: 500;
	white-space: nowrap;
	opacity: 1;
}
.sidebar.close .text {
	opacity: 0;
}
/* =========================== */

.sidebar header {
	position: relative;
}

.sidebar header .image-text {
	display: flex;
	align-items: center;
}
.sidebar header .logo-text {
	display: flex;
	flex-direction: column;
}
header .image-text .name {
	margin-top: 2px;
	font-size: 18px;
	font-weight: 600;
}

header .image-text .profession {
	font-size: 16px;
	margin-top: -2px;
	display: block;
}

.sidebar header .image {
	display: flex;
	align-items: center;
	justify-content: center;
}

.sidebar header .image img {
	width: 40px;
	border-radius: 6px;
}

.sidebar header .toggle {
	position: absolute;
	top: 50%;
	right: -25px;
	transform: translateY(-50%) rotate(180deg);
	height: 25px;
	width: 25px;
	background-color: var(--primary-color);
	color: var(--sidebar-color);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 22px;
	cursor: pointer;
	transition: var(--tran-05);
}

body.dark .sidebar header .toggle {
	color: var(--text-color);
}

.sidebar.close .toggle {
	transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
	margin-top: 40px;
}

.sidebar li.search-box {
	border-radius: 6px;
	background-color: var(--primary-color-light);
	cursor: pointer;
	transition: var(--tran-05);
}

.sidebar li.search-box input {
	height: 100%;
	width: 100%;
	outline: none;
	border: none;
	background-color: var(--primary-color-light);
	color: var(--text-color);
	border-radius: 6px;
	font-size: 17px;
	font-weight: 500;
	transition: var(--tran-05);
}
.sidebar li a {
	list-style: none;
	height: 100%;
	background-color: transparent;
	display: flex;
	align-items: center;
	height: 100%;
	width: 100%;
	border-radius: 6px;
	text-decoration: none;
	transition: var(--tran-03);
}

.sidebar li a:hover {
	background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text {
	color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
	color: var(--text-color);
}

.sidebar .menu-bar {
	height: calc(100% - 55px);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar {
	display: none;
}
.sidebar .menu-bar .mode {
	border-radius: 6px;
	background-color: var(--primary-color-light);
	position: relative;
	transition: var(--tran-05);
}

.menu-bar .mode .sun-moon {
	height: 50px;
	width: 60px;
}

.mode .sun-moon i {
	position: absolute;
}
.mode .sun-moon i.sun {
	opacity: 0;
}
body.dark .mode .sun-moon i.sun {
	opacity: 1;
}
body.dark .mode .sun-moon i.moon {
	opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
	position: absolute;
	right: 0;
	height: 100%;
	/* bottom: 10%; */
	min-width: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 6px;
	cursor: pointer;
}
.toggle-switch .switch {
	position: relative;
	height: 22px;
	width: 40px;
	border-radius: 25px;
	background-color: var(--toggle-color);
	transition: var(--tran-05);
}

.switch::before {
	content: '';
	position: absolute;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	top: 50%;
	left: 5px;
	transform: translateY(-50%);
	background-color: var(--sidebar-color);
	transition: var(--tran-04);
}

body.dark .switch::before {
	left: 20px;
}

.home {
	position: absolute;
	top: 0;
	top: 0;
	left: 250px;
	height: 100vh;
	width: calc(100% - 250px);
	background-color: var(--body-color);
	transition: var(--tran-05);
}
.home .text {
	font-size: 30px;
	font-weight: 500;
	color: var(--text-color);
	padding: 12px 60px;
}

.sidebar.close ~ .home {
	left: 78px;
	height: 100vh;
	width: calc(100% - 78px);
}
body.dark .home .text {
	color: var(--text-color);
}

.left,
.right,
.center {
	float: left;
	/* width: 33%; */
	color: white;
	padding: 10px;
	height: 100vh;
	text-align: center;
}
.left {
	background: #0c192c;
	position: relative;
	height: 100vh;
	overflow: hidden;
	width: 22%;
}

.bubbles {
	position: relative;
	display: flex;
}

.bubbles span {
	position: relative;
	width: 30px;
	height: 30px;
	background: #4fc3dc;
	margin: 0 4px;
	border-radius: 50%;
	box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #4fc3dc, 0 0 100px #4fc3dc;
	animation: bubble 15s linear infinite;
	animation-duration: calc(120s / var(--k));
}

.bubbles span:nth-child(even) {
	background: #d4af37;
	box-shadow: 0 0 0 10px #d4af3744, 0 0 50px #d4af37, 0 0 100px #d4af37;
}

@keyframes bubble {
	0% {
		transform: translateY(100vh) scale(0);
	}
	100% {
		transform: translateY(-10vh) scale(1);
	}
}

.right {
	width: 25%;
	margin: 0;
	padding: 0;
}

.right {
	position: relative;
	height: 100vh;
	background-color: #111;
	display: flex;
	/* justify-content: center; */
	align-items: center;
	flex-direction: column;
	overflow: hidden;
}

.right .row {
	position: relative;
	top: -50%;
	display: flex;
	padding: 10px 0;
	white-space: nowrap;
	font-size: 42px;
	transform: rotate(-30deg);
	/* filter: blur(3px); */
}

.right .row div {
	/* font-size: 1em;
	white-space: nowrap; */
	animation: animate1 80s linear infinite;
	animation-delay: -80s;
}

.right .row div:nth-child(2) {
	animation: animate2 80s linear infinite;
	animation-delay: -40s;
}

@keyframes animate1 {
	0% {
		transform: translateX(100%);
	}

	100% {
		transform: translateX(-100%);
	}
}

@keyframes animate2 {
	0% {
		transform: translateX(0%);
	}

	100% {
		transform: translateX(-200%);
	}
}

.right .row:nth-child(even) div {
	/* font-size: 1em;
	white-space: nowrap; */
	animation: animate3 80s linear infinite;
	animation-delay: -80s;
}

.right .row:nth-child(even) div:nth-child(2) {
	animation: animate4 80s linear infinite;
	animation-delay: -40s;
}

@keyframes animate3 {
	0% {
		transform: translateX(-100%);
	}

	100% {
		transform: translateX(100%);
	}
}

@keyframes animate4 {
	0% {
		transform: translateX(-200%);
	}

	100% {
		transform: translateX(0);
	}
}

i {
	color: rgba(0, 0, 0, 0.5);
	transition: 1s;
	padding: 0 5px;
	user-select: none;
	cursor: default;
}

i:hover {
	transition: 0s;
	color: #0f0;
	text-shadow: 0 0 120px #0f0;
}

.profile-pic {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
	z-index: 1;
	top: 20px;
	margin: 20px;
}

.profile-pic img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: brightness(100%);
	transition: all 1s ease;
	position: absolute;
	left: 0;
	top: 0;
	transition: transform 0.3s ease-in-out;
}

.profile-pic:hover img {
	/* transform: rotate(5deg); */
	transform: scale(1.05);
	filter: brightness(125%);
	box-shadow: 0 0 20px 5px #fff;
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

.profile-pic:hover:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
	animation: pulse 1.5s infinite;
}

.center {
	position: relative;
	overflow: hidden;
	background-color: #111;
	width: 53%;
	filter: blur(2px);
	padding: 10px;
	box-shadow: 0 0 0 2px black;
}

.search-container {
	position: fixed;
	top: 4%;
	left: 47%;
	transform: translateX(-50%);
	z-index: 10; /* Higher z-index than .center */
	width: 50%;
	padding: 10px;
}

.name-container {
	text-align: center;
	margin-top: 65%;
}

.name-container h1 {
	font-size: 3em;
	position: absolute;
	text-transform: uppercase;
	color: #fff;
	z-index: 1;
	transform: translateX(-50%);
	text-shadow: 0 0 50px #fff, 0 0 100px #fff, 0 0 150px #fff, 0 0 200px #f00,
		0 0 300px #f00, 0 0 400px #f00, 0 0 500px #f00;
}

/*  
h1 {
	font-size: 5em;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	text-shadow: 0 0 50px #fff, 0 0 100px #fff, 0 0 150px #fff, 0 0 200px #f00, 0 0 300px #f00, 0 0 400px #f00, 0 0 500px #f00;
 } */

.search {
	position: absolute;
	/* top: 50%; */
	left: 52%;
	transform: translate(-50%, -50%);
	width: 90%;
	height: 40px;
	padding: 5px 10px;
	font-size: 18px;
	border-radius: 20px;
	border: none;
	outline: none;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 180px 0px 0px 0px;
}

.container .box {
	position: relative;
	width: 500px;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	/* margin: 40px 30px; */
	transition: 0.5s;
}

.container .box::before {
	content: '';
	position: absolute;
	top: 0;
	left: 50px;
	width: 70%;
	height: 170%;
	background: #fff;
	border-radius: 8px;
	transform: skewX(15deg);
	transition: 0.5s;
}

.container .box::after {
	content: '';
	position: absolute;
	top: 0px;
	left: 50px;
	width: 70%;
	height: 170%;
	background: #fff;
	border-radius: 8px;
	transform: skewX(15deg);
	transition: 0.5s;
	filter: blur(10px);
	transition: 0.5s;
}

.container .box:hover:before,
.container .box:hover:after {
	transform: skewX(0deg);
	left: 20px;
	width: calc(100%-90px);
}

.container .box:nth-child(1):before,
.container .box:nth-child(1):after {
	background: linear-gradient(315deg, #ffbc00, #ff0058);
}

.container .box:nth-child(2):before,
.container .box:nth-child(2):after {
	background: linear-gradient(315deg, #03a9f4, #ff0058);
}

.container .box:nth-child(3):before,
.container .box:nth-child(3):after {
	background: linear-gradient(315deg, #4dff03, #00d0ff);
}

.container .box span {
	display: block;
	position: absolute;
	top: 500 px;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 50;
	pointer-events: none;
}

.container .box span::before {
	content: '';
	position: absolute;
	top: 500px;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 8px;
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(10px);
	opacity: 0;
	transition: 0.5s;
	animation: animatec 2s ease-in-out infinite;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.container .box:hover span::before {
	top: 0px;
	left: 2px;
	width: 100px;
	height: 100px;
	opacity: 1;
}

.container .box span::after {
	content: '';
	position: absolute;
	bottom: 0;
	right: 10px;
	width: 100%;
	height: 100%;
	border-radius: 8px;
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(10px);
	opacity: 0;
	transition: 0.5s;
	animation: animatec 2s ease-in-out infinite;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
	animation-delay: 1s;
}

.container .box:hover span::after {
	bottom: 0px;
	right: 0px;
	width: 100px;
	height: 100px;
	opacity: 1;
}

@keyframes animatec {
	0%,
	100% {
		transform: translateY(200px);
	}

	50% {
		transform: translateY(-200px);
	}
}
.container .box .content {
	z-index: 1;
	margin-left: 10px;
	top: 75px;
	left: 15px;
	margin-right: 10px;
	padding: 10px 10px 10px 10px;
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	position: relative;
	backdrop-filter: blur(10px);
	transition: 0.5s;
	color: #fff;
}
/* 
.container .box:hover .content {
	left: -25px;
	padding: 60px 40px;
} */

.container .box .content h2 {
	font-size: 2em;
	color: #fff;
	margin-bottom: 10px;
}

.container .box .content p {
	font-size: 1.1em;
	margin-bottom: 10px;
	line-height: 1.4em;
}

.container .box .content a {
	display: inline-block;
	font-size: 1.1em;
	color: #000;
	background: #fff;
	padding: 10px;
	border-radius: 4px;
	text-decoration: none;
	font-weight: 700;
	margin-top: 5px;
}
.text1 {
	position: relative;
	transform: skewY(345deg) translateY(-69px);
	animation: animateColor 5s linear infinite;
}

@keyframes animateColor {
	0% {
		filter: hue-rotate(0deg);
	}

	100% {
		filter: hue-rotate(360deg);
	}
}

.loader {
	position: relative;
	padding: 65px 0px 0px 80px;
	z-index: 1;
	/* align-items: center; */
	/* justify-content: center; */

	--webkit-box-reflect: below 1px linear-gradient(#ffbc00, #ff0058);
}

.loader::before {
	content: '';
	align-items: center;
	justify-content: center;
	position: absolute;

	top: 0;
	right: 0;
	width: 2px;
	height: 100%;
	/* background: ; */
	/* animation: blinkcursor 0.8s steps(3) infinite; */
}

/* @keyframes blinkcursor {
	0%,
	75% {
		opacity: 1;
	}

	76%,
	100% {
		opacity: 0;
	}
} */
.loader h2 {
	position: relative;
	color: transparent;
	border-radius: 8px;
	padding: 10px 10px 10px 10px;
	background: linear-gradient(
		-135deg,
		#4dff03,
		#00d0ff,
		#03a9f4,
		#ff0058,
		#ffbc00,
		#ff0058
	);

	-webkit-text-stroke: 2px #fff;
	text-align: center;
	z-index: 1;
	font-family: 'Helvetica Neue';
	letter-spacing: 5px;
	white-space: nowrap;
	font-size: 2.5em;
	text-transform: uppercase;
	animation: typing 5s steps(22) infinite;
	overflow: hidden;

	/* transform: translateX(-50%); */
	/* text-shadow: 0 0 50px #fff, 0 0 100px #fff, 0 0 150px #fff, 0 0 200px #f00; */
	/* 0 0 300px #f00, 0 0 400px #f00, 0 0 500px #f00; */
}

@keyframes typing {
	0%,
	90%,
	100% {
		width: 0%;
	}

	30%,
	60% {
		width: 630.88px;
	}
}

.text1 h2 {
	position: relative;
	width: 100%;
	font-size: 4em;
	color: #fff;
	pointer-events: none;
	line-height: 1.25em;
	white-space: nowrap;
	text-shadow: calc(var(--x)) 100px 0 rgba(255, 255, 255, 0.1);
	transform: translateX(calc(0% - var(--x) * var(--i)));
}

.text1 h2 span {
	color: #0f0;
	margin: 0 10px;
}

.text1 h2 span:nth-child(even) {
	color: transparent;
	-webkit-text-stroke: 2px #fff;
}
.row:after {
	/* content: '';
	display: table; */
	clear: both;
}

@media screen and (max-width: 600px) {
	.column {
		width: 100%;
	}
}

#video-background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

#video-background video {
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.content {
	position: relative;
	z-index: 1;
	color: #ffffff;
	text-align: center;
	padding-top: 50px;
}

.glassmorphism-box {
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 2%;
	transform: translate(-50%, -50%);
	width: 6%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(10px);
	border-radius: 25px;
	box-shadow: 0 0 0px rgba(255, 255, 255, 0.5);
	padding: 20px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 24px;
}

.glassmorphism-box h1 {
	color: #ffffff;
	font-size: 2rem;
	margin-bottom: 20px;
}

.glassmorphism-box p {
	color: #ffffff;
	font-size: 1rem;
	margin-bottom: 20px;
}
